@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    color:white;
    background-color: rgb(10, 9, 9);
    margin: 0;
    padding: 0;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 30px;
    color: rgb(255, 3, 3);
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    display: inline-block;
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin-left: 35px;
    font-weight: 500;
    
}

.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    padding: 180px 10% 0;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
}

.home-content h1 {
    font-size: 30px;
    font-weight: 700;
    color: rgb(255, 0, 0);
}

.home-content h1 h2 {
font-size: 30px;
font-weight: 700;
margin: -3px 0;
}

.home-content p{
  font-size: 20px;  
}

.about-content h4{
    font-size: 60px;

}
h3 {
    display: block;
    font-size: 25px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}