@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    color:white;
    background-color: rgb(21, 32, 37);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: cyan;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin-left: 35px;
    font-weight: 500;
    
}

.navbar :hover{
    color: cyan;
    text-decoration: underline;
    text-shadow: 0 0 20px cyan;
}

.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    padding: 180px 10% 0;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
}

.home-content h1 {
    font-size: 32px;
    font-weight: 700;
    color: cyan;
}

.home-content h1 h2 {
font-size: 50px;
font-weight: 700;
margin: -3px 0;
}

h2 span{ 
    color:cyan;
}

.home-content p{
  font-size: 20px;  
}

.img-box img{
    width: 350px;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 25px cyan;
    border-radius: 180px;
}

.btn{
 margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn a {
   color: cyan;
  font-size: 1.5rem;
  border: 2px solid cyan;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s;
}

.btn a:hover {
  background: cyan;
  color: black;
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 0.5rem; 
  padding: 7rem 10%;
  color: white;
}

.about-image image{
   width: 350px;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 25px cyan;
    border-radius: 180px;
}


.about-content h4{
    font-size: 40px;

}

.about-content h4 span{
    color: cyan;
}

.about-content p{
    font-size: 20px;
}

